@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$Roboto: 'Roboto', sans-serif;

// colors
$dark: #1E272E;
$light: #ffffff;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);
$navlink: #566474;
$btnbg: #142683;
$hover: rgba(247, 248, 250, 1.4);
$bodybg: #f7f7f7;
$lightGray: #EBF0F5;
$darkGrayText: #9EAAB7;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 70px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}